extends base

block content
  h1.title PesterJS: Anonymous Pestering Service
  hr
  .preview-boxes
    h3 1. Connect your phone
    h3 2. When you see something to be cleaned, send a notification
    h3 3. When the chore is done, reply 'done' or login and click done
  hr
  h2 Usage:
  ul
    li Reply 'snooze' to have an hour respite from being texted
    li Reply 'snooze 130' to snooze for 130 minutes
    li Reply 'done' to mark your chores as done
    li Click 'SEND A NOTIFICATION' to send an anonymous text notification
